Net Centric Programming/17457.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
<xs:element name="weather">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="row"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="row">
<xs:complexType>
<xs:sequence>
<xs:element ref="day"/>
<xs:element ref="chicago"/>
<xs:element ref="chennai"/>
<xs:element ref="berlin"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="day" type="xs:string"/>
<xs:element name="chicago" type="xs:integer"/>
<xs:element name="chennai" type="xs:integer"/>
<xs:element name="berlin" type="xs:integer"/>
</xs:schema>